@use "sass:math";
@import "../../assets/styles/main.scss";

.Shop {
  background: #f7f7f7;
}
.Shop__title {
  margin: auto;
  text-align: center;
  margin-top: rem(50);
  max-width: rem(390);
}
.Shop__action {
  display: flex;
  justify-content: center;
  margin-top: rem(60);
  margin-bottom: rem(60);
}
