@import url("https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap");
@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../../fonts/Gilroy-Regular.ttf) format("ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url(../../fonts/Gilroy-Medium.ttf) format("ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Gilroy";
  font-weight: 600;
  font-display: swap;
  src: url(../../fonts/Gilroy-SemiBold.ttf) format("ttf");
}
@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/Gilroy-Bold.ttf) format("ttf");
}
