@use "sass:math";
@import "../../assets/styles/main.scss";

.Hero {
  position: relative;
  text-align: center;
  background-position: center bottom;
  background-size: cover;
  @include adaptiveValue("height", 1085, 1085);
}
