@use "sass:math";
@import "../../assets/styles/main.scss";

.Hero {
  text-align: center;
  background: url(../../assets/images/intro.webp);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: rem(1085);
}
