@use "sass:math";
@import "../../assets/styles/main.scss";

.DropMenu {
  position: relative;
  display: inline-block;
  font-family: "Gilroy";
  font-weight: 500;
  font-size: rem(20);
  line-height: math.div(21, 20);
  color: $secondaryColor;
  @media (max-width: $mobile) {
    font-size: rem(40);
  }
  

  .DropMenu__icon {
    margin-left: rem(15);
    transition: transform 0.3s ease-in-out;
    @media (max-width: $mobile) {
      width: rem(20);
      height: rem(20);
    }
  }
  .DropMenu__items {
    display: none;
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    li {
      padding-top: rem(10);
    }
    @media (max-width: $mobile) {
      position: static;
    }
  }

  .DropMenu__item {
    font-family: "Gilroy";
    font-size: rem(20);
    font-weight: 500;
    line-height: math.div(21, 20);
    color: $secondaryColor;
    @media (max-width: $mobile) {
      font-size: rem(40);
    }
  }

  &.isOpen .DropMenu__items {
    display: block;
    opacity: 1;
    visibility: visible;
    animation: slideDown 0.2s ease-out forwards;
  }
  &.isOpen .DropMenu__icon {
    transform: translateY(-50%) rotate(90deg);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
