@use "sass:math";
@import "../../assets/styles/main.scss";

.ShoppingCartItems {
  position: absolute;
  top: 0;
  z-index: 11;
  @include adaptiveValue("width", 550, 400);
  height: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: $backgroundColor;
  transition: all 0.5s ease-in-out 0s;

  &.Cart-open {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #ccc #f5f5f5;
    right: 0;
    backdrop-filter: blur(15px);
    &::before {
      right: 0;
    }
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: rem(20);
      margin: rem(20) 0;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: rem(20);
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: #999;
    }
  }
  &::before {
    content: "";
    right: -100%;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  &.Cart-close {
    right: -100%;
    &::before {
      right: -100%;
    }
    overflow: hidden;
  }
}
.ShoppingCartItems__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: rem(30);
}
.ShoppingCartItems__title {
}
.ShoppingCartItems__button_close {
  position: relative;
  display: inline-block;
  width: rem(50);
  height: rem(50);
  border-radius: rem(31);
  transition: transform 0.3s ease-in-out;
  transform: rotate(45deg);
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(30);
    height: rem(3);
    background-color: $productColor;
    transform: translate(-50%, -50%);
  }
  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
.ShoppingCartItems__scroll {
  padding: rem(20) rem(25);
}
.ShoppingCartItems__list {
}
.ShoppingCartItems__message {
  font-size: rem(24);
}
.ShoppingCartItems__footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: rem(30);
  width: 100%;
  padding: 0 rem(30) rem(30) rem(30);
  text-align: left;
  font-family: "Inter";
  font-weight: 600;
  font-size: rem(21);
}
.ShoppingCartItems__amount {
  color: $productColor;
  span {
    position: relative;
    color: $accentColor;
  }
  svg {
    position: absolute;
    margin-left: rem(5);
    top: rem(-2);
    right: rem(-10);
  }
}
.ShoppingCartItems__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ShoppingCartItems__continue {
  height: rem(54);
  padding: rem(15) rem(25);
  color: $backgroundColor;
  background-color: $productColor;
  border-radius: rem(30);
}
.ShoppingCartItems__order {
  padding: rem(15) rem(25);
  color: $backgroundColor;
  background-color: $productColor;
  border-radius: rem(30);
  &.active {
    opacity: 1;
  }
  &.disable {
    opacity: 0.6;
  }
}
@media (max-width: $mobile) {
  .ShoppingCartItems {
    position: fixed;
    margin: 0;
    height: 100%;
    width: 100%;
    top: 0;
    right: -100%;
    border-radius: 0;
    background: #fff;
    backdrop-filter: blur(50px);
  }
}
@media (max-width: 620px) {
  .ShoppingCartItems__action {
    flex-direction: column-reverse;
    gap: rem(20);
  }
}
