@use "sass:math";
@import "../../assets/styles/main.scss";

.FeaturesList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: rem(28);
  margin: auto;
  @media (max-width: 940px) {
    flex-wrap: wrap;
  }
}
